body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

form h1 {
  text-align: center;
}

form {
  width: 500px; /* افزایش عرض فرم */
  padding: 40px; /* افزایش فاصله داخلی فرم */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: absolute;
  top: 30%; /* فاصله از بالا را تغییر دهید */
  left: 50%;
  transform: translate(-50%, -30%); /* تغییر موقعیت فرم */
}

form h1 {
  text-align: center;
  margin-top: 0; /* حذف فاصله بالای عنوان فرم */
}



form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="date"] {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #45a049;
}
